.login-page {
    margin-top: 80px;
}

.login-page form {
    width: 300px;
    margin: auto;
}

.login-page .hint {
    width: 300px;
    margin: auto;

    border: 1px solid #999;
    background: #F0F0F0;
    border-radius: 5px;

    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.login-page .hint span {
    font-family: 'Consolas';
    font-weight: bold;
}

.login-page form input {
    width: 100%;
    padding: 5px;
}

.login-page form label {
    display: block;
    font-weight: bold;
}

.login-page form button {
    padding: 5px 10px;
    border-radius: 5px;
    background: none;
    border: 2px solid #215344;
    color: #215344;
    font-weight: bold;
    margin-top: 10px;
}