.Sponsor {
  position: relative;
  top: 400px;
  width: 1200px;
  margin: auto;
}

.SponsorContainer {
  position: relative;
  top: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 640px) {
  .Sponsor {
    position: relative;
    top: 400px;
    width: 100%;
    margin: auto;
  }
  
  .SponsorContainer {
    position: relative;
    top: 50px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    align-items: center;
  }
  #Sponsor {
    width: 100%;
  }
}
